<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h2>Criar produtos</h2>
    <form action="" method="post">
      <label for="nome">Nome</label>
      <input type="text" name="name" id="nm_produto">
      <br>
      <br>
      <label for="quantidade">Descrição</label>
      <input type="text" name="ds_produto" id="ds_produto">
      <br>
      <center><input type="button" value="submit"></center>
    </form>
  </body>
</html>